mixin comment_watch(comment)
    li(data-id=comment.id)
        div.watch-comment-box
            div.watch-comment
                div.watch-comment__avatar
                    if comment.owner.avatarUrl
                        img(src="/"+comment.owner.avatarUrl)
                    else
                        i.fa-solid.fa-user
                div.watch-comment__data  
                    span #{comment.owner.channel} | #{comment.createdAt.getFullYear()}.#{comment.createdAt.getMonth()+1}.#{comment.createdAt.getDate()}
                    span.comment-text=comment.text  
            if loggedIn && loggedInUser._id == comment.owner._id 
                div.watch-comment-owner
                    button.comment__delete 삭제
                    button.comment__edit-btn 수정
        if loggedIn && loggedInUser._id == comment.owner._id
            form.comment__edit.hidden
                input(type="text" name="comment-edit" class="commentEditFormInput" value=comment.text)
                input(type="submit" value="수정" class="comment__edit-submit")


mixin comment_view(comment)
    li(data-id=comment._id)
        if (comment.video)
            a(href=`/videos/${comment.video._id}/watch`) #{comment.video.title}
        else 
            span 삭제된 동영상입니다. 
        span=comment.text
        if (comment.video)
            div.comment__edit
                textarea
                    | #{comment.text}
                button.comment__edit-submit 수정
        button.comment__delete ❌
        hr